/*
 *   How to Build Your First Hosted Website
 *   =========================================================
 *    Author:     Joe Pomerleau
 *    URL:        https://bitbucket.org/jpp5054/basic-web-page
 *    License:    Free to use without attribution
 *
 *    Colors:     Primary color: #2973BC;
 *                Ligther shade: #CEE1F4;
 *                Darker shade:  #22609D;
 */


/* 
 * General Document styles
 */

 *,
 *:before,
 *:after {
  box-sizing: border-box;
}

html {
  /* Always show scrollbar to keep pages from shifting sideways */
  overflow-y: scroll;
}
  
html, body {
  height: 100%;
}

body {
  margin: 0;
  line-height: 1.45;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1em;
  color: #333;
  background-color: #f5f5f5;
}

a {
  text-decoration: none;
  color: #2973BC; /* a nice blue */
  border: none;
}
a:hover {
  text-decoration: underline;
}

img {
  border: none;
  max-width: 100%; /* make images responsive and stay in their parent container */
}

.inline-img {
  margin: .5rem 1rem; 
}

figure {
  margin: 1.5rem auto;
  padding: .75rem .75rem 1.5rem .75rem;
  max-width: 67%;
  background-color: #eee;
  border-radius: 12px;
}

figcaption {
  font-size: .85em;
  text-align: center;
  color: #555;
}

.wrapper {
  margin: 0 auto;
  max-width: 62.5rem;
  padding: 0 .9375rem;
}


/* 
 * Site header
 */

#site-header {
  background-color: #2973BC;
  box-shadow: 0 1px 2px rgba(0,0,0,0.10);
}

/* Site title style */
#site-header h1 {
  float: left;
  margin: 0;
  font-size: 1.33em;
}
#site-header h1 a {
  display: block;
  margin-right: 1.5em;
  line-height: 70px;
  color: #fff;
}
#site-header h1 a:hover {
  text-decoration: none;
  color: #CEE1F4;
}


/*
 * Navigation
 */

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav li {
  float: left;
}

nav a {
  display: block;
  padding: 5px 10px;
}

/* Primary Navigation (header) */
#primary-nav {
  float: left;
}

#primary-nav a {
  display: block;
  padding: 0 1.5em;
  line-height: 70px;
  font-size: .9em;
  color: #CEE1F4;
}
#primary-nav a:hover {
  text-decoration: none;
  color: #fff;
  background-color: #5994CE;
}
#primary-nav a.active {
  background-color: #22609D;
  box-shadow: inset 0 0 1px 1px rgba(0,0,0,0.10);
}

/* Secondary Navigation (footer) */
#secondary-nav {
  float: left;
}

#secondary-nav a {
  margin-right: .25em;
  border-radius: 999px;
}
#secondary-nav a:hover {
  text-decoration: none;
  color: #fff;
  background-color: #2973BC;
}
#secondary-nav a.active {
  color: #777;
  background-color: #ddd;
  box-shadow: inset 0 0 1px 1px rgba(0,0,0,0.10);
}


/* 
 * Main Content section
 */

#main {
  padding: 20px 0;
}


 /* 
 * Site Footer
 */

#site-footer {
  margin-top: 40px;
  padding: 20px 0;
  font-size: .85em;
  color: #777;
  background-color: #eee;
  box-shadow: inset 0 1px 6px rgba(0,0,0,0.08);
}

#site-footer .site-info {
  float: right;
  text-align: right;
}


/*
 * Tables
 */
table {
  margin: 2rem 0;
  width: 100%;
  border: solid 1px #e3e3e3;
  border-collapse: collapse;
  border-spacing: 0;
}

table caption {
  margin-bottom: .5rem;
  font-size: 1.25em;
  font-weight: bold;
}

th {
  background-color: #e3e3e3;
}

th, td {
  padding: .75rem 1.125rem;
  vertical-align: top;
}

/*
 * Helper classes
 */

/* For easy clearing of floated elements */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
